body {
  margin: 0;
  padding: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.gamepad_container {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  height: 100%;
	margin: 0px;
	width: 100%;
}

#canvas_container {
  vertical-align: top;
  background-color: #222;
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#txtPlayer{
	text-align: left;
	background-color: #CC4DFF;
	height: 20px;
	padding: 10px;
	border: solid;
	border-width: 0px 5px 0px 5px;
	border-color: #B300FA;
}

#txthead{
	background-color: #D56BFF;
	height: 20px;
	padding: 10px;
	border: solid;
	border-width: 0px 5px 0px 5px;
	border-color: #B300FA;
}

#txtglyph{
	background-color: #CC4DFF;
	height: 20px;
	padding: 10px;
	border: solid;
	border-width: 0px 5px 0px 5px;
	border-color: #B300FA;
	margin-bottom: 30px;
}
